@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent body scroll */
}

::-webkit-scrollbar {
    width: 8px;
}

/* Custom scrollbar for a modern look */
::-webkit-scrollbar-track {
    background: #111827; /* A dark gray that matches your theme */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4f46e5; /* A purple that matches your theme */
    border-radius: 10px;
}

/* The handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6366f1; /* A lighter purple */
}

/* Ensure root div takes full space */
.App, #root {
  height: 100vh;
  width: 100vw;
  overflow: auto; /* Allow the app itself to scroll if content overflows */
}
